.plpFilter__Container-1:hover {
  background-color: aquamarine;
}
.Catgeogry {
  border: 1px solid #dadadabc;
  border-radius: 4px;
}
.Catgeogry-1 {
  text-align: center;
}

.title-1 {
  border: 1px solid #dadadabc;
  border-radius: 4px;
}
.title {
  text-align: center;
}
